/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: $text;
    a {
        color: $text-grey-light;
    }
    .green {
        color: $green;
    }
    .orange {
        color: $orange;
    }
    .pink {
        color: $pink;
    }
    .box {
        &:nth-of-type(3n-2) {
            background-color: $dark-green;
        }
        &:nth-of-type(3n-1) {
            background-color: $dark-orange;
        }
        &:nth-of-type(3n) {
            background-color: $dark-pink;
        }
    }
}
