.top-menu {
    display: none;
    padding: 65px 0 30px;
    @include breakpoint($md) {
        display: inline-block;
        text-align: center;
        width: 45%;
    }
    ul {
        display: block;
        width: 100%;
        li {
            display: inline-block;
            position: relative;
            padding: 0px 2px;
            font-size: 20px;
            &:before {
                content: "|";
                padding-right: 6px;
                position: relative;
                top: -1px;
                color: $text-grey;
            }
            &:first-child:before {
                display: none;
            }
            a {
                color: $text-grey;
                text-decoration: none;
                text-transform: lowercase;
            }
            ul {
                position: absolute;
                display: block;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.2s;
                -webkit-transition: opacity 0.2s;
            }
            &:hover {
                ul {
                    padding-top: 15px;
                    visibility: visible;
                    width: 140px;
                    border: 1px;
                    left: -50%;
                    z-index: 10;
                    opacity: 1;
                    li {
                        font-size: 16px;
                        display: block;
                        padding: 16px 0;
                        background-color: $green;
                        transition: background-color 0.2s;
                        -webkit-transition: background-color 0.2s;
                        &:hover {
                            background-color: $white;
                            a {
                                color: $orange;
                            }
                        }
                        &:before {
                            display: none;
                        }
                        a {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
.mobile-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $light-grey;
    z-index: 12;
    padding-top: 100px;
    ul {
        line-height: 2.4;
        width: 100%;
        left: 0;
        display: block;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }
    li {
        &:nth-of-type(3n-2) a {
            color: $dark-green;
        }
        &:nth-of-type(3n-1) a {
            color: $dark-orange;
        }
        &:nth-of-type(3n) a {
            color: $dark-pink
        }
        ul {
            display: none;
        }
        a {
            text-decoration: none;
            font-size: 18pt;
        }
    }
}
.menu_button {
    @include breakpoint($md) {
        display: none;
    }
    z-index: 13;
    position: fixed;
    top: 20px;
    right: 10px;
    font-size:60px;
    color: $black;
    background: none;
    border: none;
    outline: none;
    &:before {
        font-family: 'icomoon';
        content: "\e600";
        color: $green;
    }
    &.is-open:before {
        font-family: 'icomoon';
        content: "\e601";
        color: $pink;
    }
}
