/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url(/fonts/Roboto-BoldCondensed-webfont.eot);
  src: url(/fonts/Roboto-BoldCondensed-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/Roboto-BoldCondensed-webfont.woff) format('woff'), url(/fonts/Roboto-BoldCondensed-webfont.svg) format('svg'), url(/fonts/Roboto-BoldCondensed-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Roboto Slab Bold";
  src: url(/fonts/RobotoSlab-Bold-webfont.eot);
  src: url(/fonts/RobotoSlab-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/RobotoSlab-Bold-webfont.woff) format('woff'), url(/fonts/RobotoSlab-Bold-webfont.svg) format('svg'), url(/fonts/RobotoSlab-Bold-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Roboto Slab Light";
  src: url(/fonts/RobotoSlab-Light-webfont.eot);
  src: url(/fonts/RobotoSlab-Light-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/RobotoSlab-Light-webfont.woff) format('woff'), url(/fonts/RobotoSlab-Light-webfont.svg) format('svg'), url(/fonts/RobotoSlab-Light-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Blogger Sans";
  src: url(/fonts/blogger-sans.eot);
  src: url(/fonts/blogger-sans.eot?#iefix) format('embedded-opentype'), url(/fonts/blogger-sans.woff) format('woff'), url(/fonts/blogger-sans.svg) format('svg'), url(/fonts/blogger-sans.ttf) format('truetype');
}
/*icomoon*/
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?wycmvo");
  src: url("/fonts/icomoon.eot?#iefixwycmvo") format("embedded-opentype"), url("/fonts/icomoon.ttf?wycmvo") format("truetype"), url("/fonts/icomoon.woff?wycmvo") format("woff"), url("/fonts/icomoon.svg?wycmvo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* icomoon icons */
/* line 19, ../sass/_typography.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 32, ../sass/_typography.scss */
.icon-cross:before {
  content: "\e601";
}

/* line 35, ../sass/_typography.scss */
.icon-menu:before {
  content: "\e600";
}

/*colors*/
/*fonts*/
/* line 8, ../sass/_grid.scss */
.container {
  max-width: 1043px;
  margin: 0px auto;
  padding: 0 12.5px 0 12.5px;
  display: block;
}

/* line 30, ../sass/_grid.scss */
.grid1 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid1 {
    width: 5.8907%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid2 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid2 {
    width: 14.08245%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid3 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid3 {
    width: 22.27421%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid4 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid4 {
    width: 30.46596%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid5 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid5 {
    width: 38.65772%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid6 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid6 {
    width: 46.84947%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid7 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid7 {
    width: 55.04123%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid8 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid8 {
    width: 63.23298%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid9 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid9 {
    width: 71.42474%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid10 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid10 {
    width: 79.61649%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid11 {
  width: 100%;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  /* line 30, ../sass/_grid.scss */
  .grid11 {
    width: 87.80825%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 50, ../sass/_grid.scss */
.grid:first-child {
  margin-left: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 3, ../sass/_general.scss */
html {
  box-sizing: border-box;
}

/* line 6, ../sass/_general.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 11, ../sass/_general.scss */
body {
  font-family: "Blogger Sans";
}
/* line 13, ../sass/_general.scss */
body a {
  color: #696767;
}
/* line 16, ../sass/_general.scss */
body .green {
  color: #8fb701;
}
/* line 19, ../sass/_general.scss */
body .orange {
  color: #d15b06;
}
/* line 22, ../sass/_general.scss */
body .pink {
  color: #d90079;
}

/* line 1, ../sass/_nav.scss */
.top-menu {
  display: none;
  padding: 65px 0 30px;
}
@media (min-width: 1024px) {
  /* line 1, ../sass/_nav.scss */
  .top-menu {
    display: inline-block;
    text-align: center;
    width: 49%;
  }
}
/* line 9, ../sass/_nav.scss */
.top-menu ul {
  display: block;
  width: 100%;
}
/* line 12, ../sass/_nav.scss */
.top-menu ul li {
  display: inline-block;
  position: relative;
  padding: 0px 2px;
  font-size: 20px;
}
/* line 17, ../sass/_nav.scss */
.top-menu ul li:before {
  content: "|";
  padding-right: 6px;
  position: relative;
  top: -1px;
  color: #606060;
}
/* line 24, ../sass/_nav.scss */
.top-menu ul li:first-child:before {
  display: none;
}
/* line 27, ../sass/_nav.scss */
.top-menu ul li a {
  color: #606060;
  text-decoration: none;
  text-transform: lowercase;
}
/* line 32, ../sass/_nav.scss */
.top-menu ul li ul {
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
/* line 40, ../sass/_nav.scss */
.top-menu ul li:hover ul {
  padding-top: 15px;
  visibility: visible;
  width: 160px;
  border: 1px;
  left: -50%;
  z-index: 10;
  opacity: 1;
}
/* line 48, ../sass/_nav.scss */
.top-menu ul li:hover ul li {
  font-size: 16px;
  display: block;
  padding: 16px 0;
  background-color: #8fb701;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}
/* line 55, ../sass/_nav.scss */
.top-menu ul li:hover ul li:hover {
  background-color: #fff;
}
/* line 57, ../sass/_nav.scss */
.top-menu ul li:hover ul li:hover a {
  color: #d15b06;
}
/* line 61, ../sass/_nav.scss */
.top-menu ul li:hover ul li:before {
  display: none;
}
/* line 64, ../sass/_nav.scss */
.top-menu ul li:hover ul li a {
  color: #fff;
}

/* line 72, ../sass/_nav.scss */
.mobile-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
/* line 80, ../sass/_nav.scss */
.mobile-menu ul {
  display: block;
  text-align: center;
}

/* line 85, ../sass/_nav.scss */
.menu_button {
  z-index: 11;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: #151515;
  background: none;
  border: none;
  outline: none;
}
@media (min-width: 1024px) {
  /* line 85, ../sass/_nav.scss */
  .menu_button {
    display: none;
  }
}
/* line 98, ../sass/_nav.scss */
.menu_button:before {
  font-family: 'icomoon';
  content: "\e600";
}
/* line 102, ../sass/_nav.scss */
.menu_button.is-open:before {
  font-family: 'icomoon';
  content: "\e601";
}

/* line 1, ../sass/_sections.scss */
header {
  min-height: 100px;
  background: #fff;
}
/* line 3, ../sass/_sections.scss */
header .logo-container {
  display: inline-block;
  vertical-align: top;
}
/* line 8, ../sass/_sections.scss */
header .logo-container {
  position: relative;
  z-index: 9;
  width: 240px;
}
/* line 12, ../sass/_sections.scss */
header .logo-container .logo {
  max-width: 240px;
  max-height: 240px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15% 10% 15% 15%;
}
/* line 21, ../sass/_sections.scss */
header .logo-container .logo img {
  max-width: 135px;
}

/* line 28, ../sass/_sections.scss */
.flex-container .flexslider {
  border: none;
}
/* line 30, ../sass/_sections.scss */
.flex-container .flexslider .slides img {
  width: 100%;
}
/* line 34, ../sass/_sections.scss */
.flex-container .flex-direction-nav li a {
  background: none;
  height: 100px;
  width: 100px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
/* line 41, ../sass/_sections.scss */
.flex-container .flex-direction-nav li .prev {
  left: 20px;
  background: url("/theme/left.png") no-repeat;
  background-position: center center;
  margin-left: 10%;
}
/* line 47, ../sass/_sections.scss */
.flex-container .flex-direction-nav li .next {
  right: 20px;
  background: url("/theme/right.png") no-repeat;
  background-position: center center;
  margin-right: 10%;
}
/* line 53, ../sass/_sections.scss */
.flex-container p.flex-caption {
  width: 100%;
  text-align: center;
  font-family: "Roboto Condensed Bold", sans-serif;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  bottom: inherit;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  line-height: 1.2;
}
/* line 64, ../sass/_sections.scss */
.flex-container p.flex-caption .tagline {
  display: block;
  font-size: 90px;
  font-family: "Roboto Slab Bold", sans-serif;
  text-transform: uppercase;
}
/* line 69, ../sass/_sections.scss */
.flex-container p.flex-caption .tagline:after {
  content: "";
  display: block;
  width: 70px;
  background-color: #fff;
  height: 10px;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  margin-top: 30px;
}

/* line 82, ../sass/_sections.scss */
.grey-text-box {
  text-align: center;
  background-color: #ebebeb;
  color: #606060;
  padding: 30px 0;
  font-weight: bold;
}
/* line 88, ../sass/_sections.scss */
.grey-text-box h1 {
  margin: 25px 0;
  font-size: 36px;
  font-family: "Roboto Slab Bold", sans-serif;
  font-weight: bold;
}
/* line 94, ../sass/_sections.scss */
.grey-text-box p {
  font-size: 17px;
  line-height: 1.6;
  text-align: center;
}
