/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url(/fonts/Roboto-BoldCondensed-webfont.eot);
  src: url(/fonts/Roboto-BoldCondensed-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/Roboto-BoldCondensed-webfont.woff) format('woff'), url(/fonts/Roboto-BoldCondensed-webfont.svg) format('svg'), url(/fonts/Roboto-BoldCondensed-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Roboto Slab Bold";
  src: url(/fonts/RobotoSlab-Bold-webfont.eot);
  src: url(/fonts/RobotoSlab-Bold-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/RobotoSlab-Bold-webfont.woff) format('woff'), url(/fonts/RobotoSlab-Bold-webfont.svg) format('svg'), url(/fonts/RobotoSlab-Bold-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Roboto Slab Light";
  src: url(/fonts/RobotoSlab-Light-webfont.eot);
  src: url(/fonts/RobotoSlab-Light-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/RobotoSlab-Light-webfont.woff) format('woff'), url(/fonts/RobotoSlab-Light-webfont.svg) format('svg'), url(/fonts/RobotoSlab-Light-webfont.ttf) format('truetype');
}
@font-face {
  font-family: "Blogger Sans";
  src: url(/fonts/blogger-sans.eot);
  src: url(/fonts/blogger-sans.eot?#iefix) format('embedded-opentype'), url(/fonts/blogger-sans.woff) format('woff'), url(/fonts/blogger-sans.svg) format('svg'), url(/fonts/blogger-sans.ttf) format('truetype');
}
@font-face {
  font-family: "Blogger Sans Medium";
  src: url(/fonts/blogger-sans-medium.eot);
  src: url(/fonts/blogger-sans-medium.eot?#iefix) format('embedded-opentype'), url(/fonts/blogger-sans-medium.woff) format('woff'), url(/fonts/blogger-sans-medium.svg) format('svg'), url(/fonts/blogger-sans-medium.ttf) format('truetype');
}
/*icomoon*/
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?wycmvo");
  src: url("/fonts/icomoon.eot?#iefixwycmvo") format("embedded-opentype"), url("/fonts/icomoon.ttf?wycmvo") format("truetype"), url("/fonts/icomoon.woff?wycmvo") format("woff"), url("/fonts/icomoon.svg?wycmvo#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* icomoon icons */
/* line 20, ../sass/_typography.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, ../sass/_typography.scss */
.icon-cross:before {
  content: "\e601";
}

/* line 36, ../sass/_typography.scss */
.icon-menu:before {
  content: "\e600";
}

/*colors*/
/*fonts*/
/*others*/
/* line 8, ../sass/_grid.scss */
.container {
  max-width: 1043px;
  margin: 0px auto;
  padding: 0 12.5px 0 12.5px;
  display: block;
}

/* line 30, ../sass/_grid.scss */
.grid1 {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid1 {
    width: 5.8907%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid2 {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid2 {
    width: 14.08245%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid3 {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid3 {
    width: 22.27421%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid4 {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid4 {
    width: 30.46596%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid5 {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid5 {
    width: 38.65772%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid6 {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid6 {
    width: 46.84947%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid7 {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid7 {
    width: 55.04123%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid8 {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid8 {
    width: 63.23298%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid9 {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid9 {
    width: 71.42474%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid10 {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid10 {
    width: 79.61649%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 30, ../sass/_grid.scss */
.grid11 {
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 960px) {
  /* line 30, ../sass/_grid.scss */
  .grid11 {
    width: 87.80825%;
    display: inline-block;
    vertical-align: top;
    margin-left: 2.30105%;
    margin-bottom: 0;
  }
}

/* line 50, ../sass/_grid.scss */
.grid:first-child {
  margin-left: 0;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 3, ../sass/_general.scss */
html {
  box-sizing: border-box;
}

/* line 6, ../sass/_general.scss */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* line 11, ../sass/_general.scss */
body {
  font-family: "Blogger Sans";
}
/* line 13, ../sass/_general.scss */
body a {
  color: #696767;
}
/* line 16, ../sass/_general.scss */
body .green {
  color: #8fb701;
}
/* line 19, ../sass/_general.scss */
body .orange {
  color: #d15b06;
}
/* line 22, ../sass/_general.scss */
body .pink {
  color: #d90079;
}
/* line 26, ../sass/_general.scss */
body .box:nth-of-type(3n-2) {
  background-color: #7a9c00;
}
/* line 29, ../sass/_general.scss */
body .box:nth-of-type(3n-1) {
  background-color: #d95e05;
}
/* line 32, ../sass/_general.scss */
body .box:nth-of-type(3n) {
  background-color: #b20365;
}
/* line 37, ../sass/_general.scss */
body .social img {
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
}
/* line 40, ../sass/_general.scss */
body .social img:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
}
/* line 46, ../sass/_general.scss */
body strong {
  font-family: "Blogger Sans Medium";
  font-weight: bold;
}
/* line 50, ../sass/_general.scss */
body .medium {
  font-family: "Blogger Sans Medium";
}

/* line 1, ../sass/_nav.scss */
.top-menu {
  display: none;
  padding: 65px 0 30px;
}
@media (min-width: 960px) {
  /* line 1, ../sass/_nav.scss */
  .top-menu {
    display: inline-block;
    text-align: center;
    width: 45%;
  }
}
/* line 9, ../sass/_nav.scss */
.top-menu ul {
  display: block;
  width: 100%;
}
/* line 12, ../sass/_nav.scss */
.top-menu ul li {
  display: inline-block;
  position: relative;
  padding: 0px 2px;
  font-size: 20px;
}
/* line 17, ../sass/_nav.scss */
.top-menu ul li:before {
  content: "|";
  padding-right: 6px;
  position: relative;
  top: -1px;
  color: #606060;
}
/* line 24, ../sass/_nav.scss */
.top-menu ul li:first-child:before {
  display: none;
}
/* line 27, ../sass/_nav.scss */
.top-menu ul li a {
  color: #606060;
  text-decoration: none;
  text-transform: lowercase;
}
/* line 32, ../sass/_nav.scss */
.top-menu ul li ul {
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
/* line 41, ../sass/_nav.scss */
.top-menu ul li:hover ul {
  padding-top: 15px;
  visibility: visible;
  width: 140px;
  border: 1px;
  left: -50%;
  z-index: 10;
  opacity: 1;
}
/* line 49, ../sass/_nav.scss */
.top-menu ul li:hover ul li {
  font-size: 16px;
  display: block;
  padding: 16px 0;
  background-color: #8fb701;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}
/* line 56, ../sass/_nav.scss */
.top-menu ul li:hover ul li:hover {
  background-color: #fff;
}
/* line 58, ../sass/_nav.scss */
.top-menu ul li:hover ul li:hover a {
  color: #d15b06;
}
/* line 62, ../sass/_nav.scss */
.top-menu ul li:hover ul li:before {
  display: none;
}
/* line 65, ../sass/_nav.scss */
.top-menu ul li:hover ul li a {
  color: #fff;
}

/* line 74, ../sass/_nav.scss */
.mobile-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ebebeb;
  z-index: 12;
  padding-top: 100px;
}
/* line 84, ../sass/_nav.scss */
.mobile-menu ul {
  line-height: 2.4;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
/* line 96, ../sass/_nav.scss */
.mobile-menu li:nth-of-type(3n-2) a {
  color: #7a9c00;
}
/* line 99, ../sass/_nav.scss */
.mobile-menu li:nth-of-type(3n-1) a {
  color: #d95e05;
}
/* line 102, ../sass/_nav.scss */
.mobile-menu li:nth-of-type(3n) a {
  color: #b20365;
}
/* line 105, ../sass/_nav.scss */
.mobile-menu li ul {
  display: none;
}
/* line 108, ../sass/_nav.scss */
.mobile-menu li a {
  text-decoration: none;
  font-size: 18pt;
}

/* line 114, ../sass/_nav.scss */
.menu_button {
  z-index: 13;
  position: fixed;
  top: 20px;
  right: 10px;
  font-size: 60px;
  color: #151515;
  background: none;
  border: none;
  outline: none;
}
@media (min-width: 960px) {
  /* line 114, ../sass/_nav.scss */
  .menu_button {
    display: none;
  }
}
/* line 127, ../sass/_nav.scss */
.menu_button:before {
  font-family: 'icomoon';
  content: "\e600";
  color: #8fb701;
}
/* line 132, ../sass/_nav.scss */
.menu_button.is-open:before {
  font-family: 'icomoon';
  content: "\e601";
  color: #d90079;
}

/* line 1, ../sass/_sections.scss */
header {
  min-height: 100px;
}
@media (max-width: 960px) {
  /* line 1, ../sass/_sections.scss */
  header {
    position: fixed;
    min-height: 100px;
    z-index: 11;
    background: white;
    width: 100%;
  }
}
/* line 10, ../sass/_sections.scss */
header .logo-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 9;
  width: 240px;
}
@media (max-width: 960px) {
  /* line 10, ../sass/_sections.scss */
  header .logo-container {
    width: 200px;
  }
}
/* line 19, ../sass/_sections.scss */
header .logo-container .logo {
  max-width: 240px;
  max-height: 240px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15% 10% 15% 15%;
}
/* line 28, ../sass/_sections.scss */
header .logo-container .logo img {
  max-width: 135px;
}
@media (max-width: 960px) {
  /* line 28, ../sass/_sections.scss */
  header .logo-container .logo img {
    max-width: 90px;
  }
}
/* line 36, ../sass/_sections.scss */
header .social {
  display: none;
  vertical-align: bottom;
  padding-bottom: 15px;
  text-align: right;
  width: 25%;
}
@media (min-width: 960px) {
  /* line 36, ../sass/_sections.scss */
  header .social {
    display: inline-block;
  }
}
/* line 45, ../sass/_sections.scss */
header .social span {
  margin-left: 10px;
}
/* line 47, ../sass/_sections.scss */
header .social span img {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

@media (max-width: 960px) {
  /* line 53, ../sass/_sections.scss */
  .flex-container {
    top: 100px;
  }
}
/* line 57, ../sass/_sections.scss */
.flex-container .flexslider {
  border: none;
}
/* line 59, ../sass/_sections.scss */
.flex-container .flexslider .slides img {
  width: 100%;
}
/* line 63, ../sass/_sections.scss */
.flex-container .flex-direction-nav li a {
  background: none;
  height: 100px;
  width: 100px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
/* line 70, ../sass/_sections.scss */
.flex-container .flex-direction-nav li .prev {
  display: none;
  left: 20px;
  background: url("/theme/left.png") no-repeat;
  background-position: center center;
  margin-left: 0;
}
@media (min-width: 650px) {
  /* line 70, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .prev {
    display: block;
  }
}
@media (max-width: 960px) {
  /* line 70, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .prev {
    width: 26px;
    background-size: contain;
  }
}
@media (min-width: 1200px) {
  /* line 70, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .prev {
    margin-left: 5%;
  }
}
@media (min-width: 1400px) {
  /* line 70, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .prev {
    margin-left: 10%;
  }
}
/* line 90, ../sass/_sections.scss */
.flex-container .flex-direction-nav li .next {
  display: none;
  right: 20px;
  background: url("/theme/right.png") no-repeat;
  background-position: center center;
  margin-right: 0;
}
@media (min-width: 650px) {
  /* line 90, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .next {
    display: block;
  }
}
@media (max-width: 960px) {
  /* line 90, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .next {
    width: 26px;
    background-size: contain;
  }
}
@media (min-width: 1200px) {
  /* line 90, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .next {
    margin-right: 5%;
  }
}
@media (min-width: 1400px) {
  /* line 90, ../sass/_sections.scss */
  .flex-container .flex-direction-nav li .next {
    margin-right: 10%;
  }
}
/* line 110, ../sass/_sections.scss */
.flex-container p.flex-caption {
  display: none;
  width: 100%;
  text-align: center;
  font-family: "Roboto Condensed Bold", sans-serif;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  bottom: inherit;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  line-height: 1.2;
}
@media (min-width: 650px) {
  /* line 110, ../sass/_sections.scss */
  .flex-container p.flex-caption {
    display: block;
  }
}
@media (max-width: 1023px) {
  /* line 110, ../sass/_sections.scss */
  .flex-container p.flex-caption {
    font-size: 34px;
  }
}
@media (max-width: 775px) {
  /* line 110, ../sass/_sections.scss */
  .flex-container p.flex-caption {
    font-size: 28px;
  }
}
/* line 131, ../sass/_sections.scss */
.flex-container p.flex-caption .tagline {
  display: block;
  font-size: 90px;
  font-family: "Roboto Slab Bold", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 1023px) {
  /* line 131, ../sass/_sections.scss */
  .flex-container p.flex-caption .tagline {
    font-size: 64px;
  }
}
@media (max-width: 775px) {
  /* line 131, ../sass/_sections.scss */
  .flex-container p.flex-caption .tagline {
    font-size: 45px;
  }
}
/* line 142, ../sass/_sections.scss */
.flex-container p.flex-caption .tagline:after {
  content: "";
  display: block;
  width: 70px;
  background-color: #fff;
  height: 10px;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  margin-top: 30px;
}
@media (max-width: 960px) {
  /* line 142, ../sass/_sections.scss */
  .flex-container p.flex-caption .tagline:after {
    width: 50px;
    height: 7px;
    margin-top: 30px;
  }
}

/* line 160, ../sass/_sections.scss */
.grey-text-box {
  text-align: center;
  background-color: #ebebeb;
  color: #606060;
  padding: 30px 0;
}
/* line 165, ../sass/_sections.scss */
.grey-text-box .small-logo {
  padding-top: 100px;
}
@media (min-width: 960px) {
  /* line 165, ../sass/_sections.scss */
  .grey-text-box .small-logo {
    padding-top: 0;
  }
}
/* line 171, ../sass/_sections.scss */
.grey-text-box h1 {
  margin: 25px 0;
  font-size: 36px;
  font-family: "Roboto Slab Bold", sans-serif;
  font-weight: bold;
}
/* line 177, ../sass/_sections.scss */
.grey-text-box p {
  font-size: 17px;
  line-height: 1.6;
  text-align: center;
}
/* line 181, ../sass/_sections.scss */
.grey-text-box p:after {
  content: "";
  display: block;
  width: 60px;
  background-color: #a1a1a1;
  height: 7px;
  margin: 0 auto;
  margin-top: 30px;
}

/* line 192, ../sass/_sections.scss */
.menus {
  padding-top: 60px;
}
/* line 194, ../sass/_sections.scss */
.menus .box {
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  max-width: 500px;
  text-align: center;
  color: #fff;
  padding-bottom: 22px;
  margin-bottom: 60px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
@media (max-width: 960px) {
  /* line 194, ../sass/_sections.scss */
  .menus .box {
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 207, ../sass/_sections.scss */
.menus .box img {
  width: 100%;
}
/* line 210, ../sass/_sections.scss */
.menus .box h1 {
  margin-top: 25px;
  font-family: "Roboto Condensed Bold", sans-serif;
  font-size: 29px;
}
/* line 215, ../sass/_sections.scss */
.menus .box p {
  margin: 15px 10px 15px;
  font-family: "Blogger Sans";
  line-height: 1.4;
  font-size: 15px;
}
/* line 221, ../sass/_sections.scss */
.menus .box a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

/* line 229, ../sass/_sections.scss */
.details {
  text-align: center;
  padding: 60px 0 40px;
  background-color: #d7d7d7;
  color: #606060;
}
@media (min-width: 960px) {
  /* line 229, ../sass/_sections.scss */
  .details {
    text-align: left;
  }
}
/* line 237, ../sass/_sections.scss */
.details h1 {
  font-family: "Roboto Condensed Bold", sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
}
/* line 242, ../sass/_sections.scss */
.details ul {
  margin-bottom: 20px;
}
/* line 244, ../sass/_sections.scss */
.details ul li {
  font-size: 17px;
  line-height: 1.8;
}
/* line 249, ../sass/_sections.scss */
.details .social {
  margin-top: 40px;
}
/* line 251, ../sass/_sections.scss */
.details .social span {
  margin-right: 10px;
}
/* line 253, ../sass/_sections.scss */
.details .social span img {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
/* line 256, ../sass/_sections.scss */
.details .social span:last-child {
  margin-right: 0;
}

/* line 262, ../sass/_sections.scss */
footer {
  padding: 10px 5px;
  background-color: #a1a1a1;
  text-align: right;
  color: #fff;
}
